<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Find your Weather </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <span class="city">Mexico City ☀️</span>
    <span class="date">Mon, 9:50pm</span>

    <div class="icon">
      <img src="../../assets/cloud.png" alt="" />
    </div>

    <span class="description">Cloudy</span>
    <span class="temperature">18°</span>
  </div>
  <!--7 Day forecast grid-->
  <ion-grid>
    <!--7 Day row-->
    <ion-row>
      <ion-col class="day">Tue</ion-col>
      <ion-col class="day">Wed</ion-col>
      <ion-col class="day">Thu</ion-col>
      <ion-col class="day">Fri</ion-col>
      <ion-col class="day">Sat</ion-col>
      <ion-col class="day">Sun</ion-col>
      <ion-col class="day">Mon</ion-col>
    </ion-row>
    <!--Changes of precipitation-->
    <ion-row>
      <ion-col class="precipitation">70%</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">50%</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">19%</ion-col>
      <ion-col class="precipitation">35%</ion-col>
    </ion-row>
    <!-- Weather Icon-->
    <ion-row>
      <ion-col class="icon-dm"><img src="../../assets/cloud.png" /></ion-col>
      <ion-col class="icon-dm"><img src="../../assets/cloud.png" /></ion-col>
      <ion-col class="icon-dm"><img src="../../assets/cloud.png" /></ion-col>
      <ion-col class="icon-dm"><img src="../../assets/cloud.png" /></ion-col>
      <ion-col class="icon-dm"><img src="../../assets/cloud.png" /></ion-col>
      <ion-col class="icon-dm"><img src="../../assets/cloud.png" /></ion-col>
      <ion-col class="icon-dm"><img src="../../assets/cloud.png" /></ion-col>
    </ion-row>
    <!--Max Temperature-->
    <ion-row>
      <ion-col class="high-dm">13°c</ion-col>
      <ion-col class="high-dm">12°c</ion-col>
      <ion-col class="high-dm">16°c</ion-col>
      <ion-col class="high-dm">19°c</ion-col>
      <ion-col class="high-dm">12°c</ion-col>
      <ion-col class="high-dm">14°c</ion-col>
      <ion-col class="high-dm">13°c</ion-col>
    </ion-row>
  </ion-grid>
  <!--Min Temperature-->
  <ion-row>
    <ion-col class="low-dm">10°c</ion-col>
    <ion-col class="low-dm">11°c</ion-col>
    <ion-col class="low-dm">10°c</ion-col>
    <ion-col class="low-dm">10°c</ion-col>
    <ion-col class="low-dm">10°c</ion-col>
    <ion-col class="low-dm">10°c</ion-col>
    <ion-col class="low-dm">10°c</ion-col>
  </ion-row>
</ion-content>
