<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary  ">Find Your Weather</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input
            label="User Name"
            labelPlacement="floating"
            placeholder="Enter User Name"
            type="User Name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Password"
            labelPlacement="floating"
            placeholder="Enter Password"
            type="Password"
          ></ion-input>
        </ion-item>
        <ion-button color="medium" size="full" fill="clear"
          >Forgot email/password</ion-button
        >

        <ion-button color="secondary" size="full" (click)="redirectToLogin()"
          >Login</ion-button
        >

        <ion-button
          color="secondary"
          size="full"
          fill="clear"
          [routerLink]="['/register']"
          >Register</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
