<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary  ">Find Your Weather</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input
            label="Email"
            labelPlacement="floating"
            placeholder="Enter Email Address"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Password"
            labelPlacement="floating"
            placeholder="Enter Password"
            type="Password"
          ></ion-input>
        </ion-item>
        <ion-button color="medium">Forgot email/password</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
