<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Enter your details</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-input
      label="User Name"
      labelPlacement="floating"
      placeholder="How should we call you?"
      type="name"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="City"
      labelPlacement="floating"
      placeholder="Enter a City"
      type="city"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Email"
      labelPlacement="floating"
      placeholder="Enter your Email Address"
      type="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Password"
      labelPlacement="floating"
      placeholder="Enter Password"
      type="password"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Confirm Password"
      labelPlacement="floating"
      placeholder="Confirm Password"
      type="confirm password"
    ></ion-input>
  </ion-item>
  <ion-button color="secondary" size="full" [routerLink]="['/login']"
    >Register</ion-button
  >
</ion-content>
